<header>
  <span>
    <title>
      ברוכים הבאים לאפליקציה של חסדי עירית
    </title>
  </span>
</header>

<span>
    <span class="welcome-span" class="fadeIn first">
      <img src="../../../assets/logo.jpg" >
      <header class="fadeIn second">
        <title> חסדי עירית</title>
        <title>ברוכים הבאים</title>
      </header>
    </span>
    <span lines="none" class="fadeIn third">
      <link href="https://m.facebook.com/HasdeiIrit/">
        <!-- <icon slot="start" color="medium" name="book"></icon> -->
        <label> פייסבוק</label>
      <link href="https://www.hasdeiirit.org.il/">
        <!-- <icon slot="start" color="medium" name="build"></icon> -->
        <label>   אתר</label>
      <link href="https://instagram.com/hasdeiirit">
        <!-- <icon slot="start" color="medium" name="grid"></icon> -->
        <label>   אינסטגרם</label>
      <link href="info@hasdeiirit.org.il">
        <!-- <icon slot="start" color="medium" name="color-fill"></icon> -->
        <label>צרו קשר  </label>
    </span>
</span>
